@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
:root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #2bc578;
}

.innerWidth {
  @apply w-full 2xl:max-w-[1280px];
}

.interWidth {
  @apply w-[100%] lg:w-[80%];
}

.paddings {
  @apply px-6 py-12 sm:p-16;
}

.yPaddings {
  @apply py-12 sm:py-16;
}

.xPaddings {
  @apply px-6 sm:px-16;
}

.btn {
  @apply cursor-pointer rounded-md border border-black border-opacity-10 px-4 py-2 shadow-sm transition-all duration-200 hover:translate-y-[-2px] hover:border-opacity-60 hover:shadow-md focus:border-opacity-60 active:shadow-sm;
}

.outlineBtn {
  @apply flex items-center justify-center gap-2 border-2 border-primary-800 px-4 py-2 text-center text-lg font-semibold text-primary-800 transition-colors hover:bg-primary-800 hover:text-light dark:border-primaryDark dark:text-primaryDark dark:hover:bg-primaryDark dark:hover:text-dark md:px-8 md:py-4 md:text-xl;
}

.primaryBtn {
  position: relative;
  width: 100%;
  max-width: 280px;
  cursor: pointer;
  user-select: none;
  outline-offset: 4px;
}

.primaryBtn > span:nth-child(1) {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateY(2px);
  border-radius: 0.75rem;
  background: rgba(0, 0, 0, 0.3);
  transition: all 500ms ease-out;
}

.primaryBtn:hover > span:nth-child(1) {
  transform: translateY(4px);
  transition-duration: 200ms;
}

.primaryBtn:active > span:nth-child(1) {
  transform: translateY(1px);
  transition-duration: 30ms;
}

.primaryBtn > span:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  background: linear-gradient(to right, #3e35b1, #4f46e5, #3e35b1);
}

.primaryBtn > div {
  height: 100%;
  position: relative;
  width: 100%;
  transform: translateY(-4px);
  border-radius: 0.75rem;
  background: #6262f9;
  padding: 12px 20px;
  transition: all 500ms;
}

.primaryBtn:hover > div {
  transform: translateY(-6px);
  transition-duration: 250ms;
}

.primaryBtn:active > div {
  transform: translateY(-2px);
  transition-duration: 30ms;
}

.borderAnimate > svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.borderAnimate > svg > rect {
  fill: none;
  stroke-width: 2;
  stroke-dasharray: 0, 422;
  stroke-dashoffset: 0;
  transition: all 0.35s linear;
}

.borderAnimate:hover > svg > rect {
  stroke-dasharray: 422, 0;
  stroke-width: 5;
  stroke-dashoffset: 50;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.borderAnimate:active > svg > rect {
  stroke-dasharray: 422, 0;
  stroke-width: 5;
  stroke-dashoffset: 50;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Service Card Animations */

.serviceCard {
  perspective: 1000px;
}

.serviceCard > div:first-child {
  opacity: 1;
  transform: rotateX(0deg);
  box-shadow: 0 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
  transition-delay: 0.1s;
  z-index: 2;
  height: 380px;
}

.serviceCard > div:last-child {
  opacity: 0;
  transform: translateY(190px) rotateX(-90deg);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  transition: all 0.6s ease;
  transition-delay: 0.1s;
  height: 380px;
  z-index: 1;
}

.serviceCard:hover > div:last-child {
  opacity: 1;
  transform: rotateX(0deg);
}

.serviceCard:hover > div:first-child {
  opacity: 0;
  transform: translateY(-180px) rotateX(90deg);
}
