@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-body: var(--font-body);
  --font-hand: var(--font-gochi-hand);

  --blob-gradient: 97.86deg,
    #a509ff 0%,
    #34acc7 53.65%,
    #a134c7 100%;
  --color-bg: hsl(240, 10%, 5%);
  --color-fg: hsl(240, 5.79%, 76.27%);
  --color-card: hsl(240, 10%, 3.9%);
  --color-card-fg: hsl(0, 0%, 100%);

  --color-secondary: hsl(225, 6.67%, 11.76%);
  --color-secondary-fg: hsl(0 0% 98%);

  --color-border: hsl(37, 18%, 66%, 0.5);

  --color-primary: #2bc578;
  --color-primary-dark: #1ba568;
  --color-primary-darker: #1c8550;

  --color-grid: #333;
  --color-text-main: #f8f9fa;
  --color-text-secondary: #adb5bd;
  --color-text-muted: #6c757d;

  --color-dark: #181818;
  --color-light: #f0f0f0;
  --color-accent: #2bc578;

  --animate-move: move 5s linear infinite;
  --animate-heartbeat: heartbeat 2s infinite ease-in-out;

  @keyframes move {
    0% {
      transform: translateX(-200px);
    }

    100% {
      transform: translateX(200px);
    }
  }

  @keyframes heartbeat {
    0% {
      box-shadow: 0 0 0 0 var(--color-accent);
      transform: scale(1);
    }

    50% {
      box-shadow: 0 0 0 7px theme('colors.accent/0');
      transform: scale(1.05);
    }

    100% {
      box-shadow: 0 0 0 0 theme('colors.accent/0');
      transform: scale(1);
    }
  }

}

@layer base {
  body {
    font-family: var(--font-body);
    color: var(--color-fg);
    background-color: var(--color-bg);
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    border-left: 1px solid #555;
    background-color: #333;
  }

  ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border-radius: 999px;
    border-radius: 8px;
    background-color: #555;
    border-color: #777;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }
}

.max-container {
  @apply mx-auto w-full max-w-[1200px];
}


.background-image {
  &--fade-out {
    mask-image: linear-gradient(black, black, transparent);
  }
}

.social-icon {
  @apply flex h-12 w-12 items-center justify-center rounded-full border-2 border-primary p-2 text-primary transition hover:scale-110 hover:bg-primary dark:hover:text-white hover:text-white;
}

.outline-button {
  @apply flex items-center justify-center gap-2 border border-primary px-8 py-2 text-center font-medium text-primary transition-colors hover:bg-primary hover:text-light dark:hover:text-dark sm:text-lg md:px-10 md:py-3 md:text-xl;
}

.label {
  @apply relative overflow-hidden rounded-md bg-slate-100 px-3 py-1 pb-1.5 text-[13px] font-semibold;
  @apply dark:bg-slate-800;

  &__indicator {
    @apply absolute inset-x-0 bottom-0 h-0.5 rounded-full bg-primary;
    @apply dark:bg-primary;
  }
}

.inner-container {
  @apply mx-auto w-full px-2 sm:px-4 md:px-0 md:max-w-[90%];
}


.section-badge {
  @apply flex relative shadow-inner items-center justify-center mx-auto mb-8 select-none self-center;
  @apply min-w-[150px] py-3 px-8 w-fit rounded-full bg-gradient-to-r from-primary/40 via-primary/10 to-primary/0;
  @apply text-fg font-medium tracking-wider text-sm capitalize;

  &::before {
    @apply absolute -top-1 -left-1 -bottom-1 -right-1 rounded-full bg-gradient-to-r from-primary/20 to-primary/0;
    content: '';
  }
}

.footer-link {
  @apply flex h-8 items-center gap-2 px-2 py-1 text-sm font-medium whitespace-nowrap text-neutral-200;
  @apply hover:text-primary transition-colors;
}

.cta-desc {
  @apply text-text-secondary text-sm md:text-lg lg:text-xl text-center;
}

.blob {
  @apply bg-linear-[var(--blob-gradient)];
}

.text-gradient {
  @apply bg-gradient-to-r from-white to-neutral-400 bg-clip-text bg-white/80 text-transparent;
}
