@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
:root {
  height: 100%;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

.innerWidth {
  @apply w-full 2xl:max-w-[1280px];
}

.interWidth {
  @apply w-[100%] lg:w-[80%];
}

.paddings {
  @apply px-2 py-12 sm:px-6 md:p-16;
}

.borderBox {
  @apply border border-neutral-200 dark:border-neutral-700;
}

.borderHr {
  @apply border border-x-0 border-neutral-200 dark:border-neutral-700;
}

.borderVr {
  @apply border border-y-0 border-neutral-200 dark:border-neutral-700;
}

.heartbeatBtn {
  @apply flex items-center justify-center animate-buttonheartbeat rounded-md bg-primary px-4 py-1 text-sm font-semibold text-white;
}

.dashedBtn {
  @apply flex items-center justify-center rounded-2xl border-2 border-dashed border-primary bg-white px-6 py-3 font-semibold uppercase text-black transition-all duration-300 hover:translate-x-[-4px] hover:translate-y-[-4px] hover:rounded-md hover:shadow-[2px_4px_0px_#6262f9] active:translate-x-[0px] active:translate-y-[0px] active:rounded-2xl active:shadow-none;
}
