.borderAnimate>svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.borderAnimate>svg>rect {
  fill: none;
  stroke-width: 2;
  stroke-dasharray: 0, 422;
  stroke-dashoffset: 0;
  transition: all 0.35s linear;
}

.borderAnimate:hover>svg>rect {
  stroke-dasharray: 422, 0;
  stroke-width: 5;
  stroke-dashoffset: 50;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.borderAnimate:active>svg>rect {
  stroke-dasharray: 422, 0;
  stroke-width: 5;
  stroke-dashoffset: 50;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
